#app {
	overflow: hidden;
}
.admin-profile-image {
	margin-bottom: 20px;
}

.inline {
	display: inline;
}

.navbar-toggler-icon {
	margin-left: -10px; margin-top: -5px; font-size: 16px;
}

.right {
	float: right;
}

.right form {
	display: inline;
}

.search-box {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	outline: none;
}

.icon-button {
	padding: 0px !important;
	margin: 0px;
	width: 25px;
	height: 25px;
	padding-top: 5px !important;
}

.card-icon-button {
	float:right;
	padding: 0px !important;
	margin: 0px;
	width: 25px;
	height: 25px;
	padding-top: 5px !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: #f85019 !important;
}

.user-info-data {
	font-size: 12px;
}
.user-info-detail, .user-info-data {
	list-style: none;
	padding: 0px;
}

.user-info-detail label {
	width: 80px;
	font-weight: bold;
}

.bar {
	background: #F8845E;
	width: 160%;
	height: 80px;
	position: absolute;
	bottom: 0px;
	left: -200px;
}


.user-name {
	position: absolute;
	bottom: 0px;
	padding-bottom: 10px;
	color: #FFFFFF;
}

.name-bar {
	min-height: 73px !important;
}

.topbar-info {
	position: relative;
}

.topbar-info .avatar {
	padding-bottom: 10px;

}

.avatar-img {
	width: 140px;
	background: #FFF;
	border: 1px solid #EEE;
}

.info-bar-detail {
	padding-top: 10px;
}

.navbar-collapse:before {
	background: #f85019 !important;
}

.info-card h6 {
	margin: 0px;
}

.edit-home {
	margin-top: 10px;
	width: 100%;
}

.calendar-link {
	top: 8px;
	display: block;
	position: absolute;
	right: 20px;
	text-decoration: none;
}

.calendar-link:hover {
	text-decoration: none;
}